<section id="$idprefix$title-slide"$for(title-slide-attributes/pairs)$ $it.key$="$it.value$"$endfor$ class="title-slide quarto-title-block comic-cover" data-no-sound>
  <div class="cover-decor" aria-hidden="true">
    <div class="cover-burst fragment" data-fragment-index="1"></div>
  </div>

  <div class="cover-content">
    <div class="cover-title-block">
      <h1 class="title fragment comic-pop" data-fragment-index="1">$title$</h1>
      $if(subtitle)$
      <p class="subtitle fragment" data-fragment-index="2">$subtitle$</p>
      $endif$
    </div>

    $if(by-author)$
    <div class="cover-byline fragment" data-fragment-index="10">
      $for(by-author)$
      <div class="cover-author">
        <span class="cover-author-name">$if(by-author.url)$<a href="$by-author.url$">$endif$$if(by-author.name.literal)$$by-author.name.literal$$else$$by-author.name$$endif$$if(by-author.degrees)$<em class="cover-author-degree">, $for(by-author.degrees)$$by-author.degrees$$sep$, $endfor$</em>$endif$$if(by-author.url)$</a>$endif$</span>
        $if(by-author.email)$
        <a class="cover-author-email" href="mailto:$by-author.email$">$by-author.email$</a>
        $endif$
        $if(by-author.affiliations)$
        $for(by-author.affiliations)$
        <span class="cover-affiliation">$if(it.url)$<a href="$it.url$">$endif$$it.name$$if(it.url)$</a>$endif$</span>
        $endfor$
        $endif$
      </div>
      $endfor$
    </div>
    $endif$

    $if(date)$
    <span class="cover-date fragment" data-fragment-index="10">$date$</span>
    $endif$
  </div>
</section>
